# Discord
discord.py

# Webフレームワーク
fastapi
uvicorn

# APIクライアント
openai
mistralai
google-generativeai
google-cloud-aiplatform
notion-client
requests
aiohttp

# ファイル処理
pypdf2

# 環境変数
python-dotenv
